input:hover{
	background-color:skyblue;

	}
table{
	border:5px solid;
	outline:10px ridge magenta;
	padding:20px;
	}
td{
	font-size:30px;
	}
.inp{
	padding:10px;
	border-radius:20%;
	width:50%;
	}
.dat{
	padding:10px;
	border-radius:20%;
	
	}
	
